@import "src/styles/mixins";

.Content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  &Wrap {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &Title {
      @include HugeTitle;
    }
  }
  &List {
    display: flex;
    gap: 4rem;
  }
}
